.container {
  margin: 0 20px;
  height: 100vh;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.box {
  box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
  min-height: 20rem;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto;
}

.control-box {
  box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
  min-height: 10rem;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  margin-left: 20px;
}

button {
  float: right;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
}

.typing {
  color: gray;
}

.message {
  background-color: powderblue;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
  padding: 0px 4px 4px;
}

.answer {
  color: midnightblue;
}

.answer:last-child {
  padding-bottom: 4px;
}

.error {
  color: tomato;
}

.info {
  height: 1rem;
}

.spare {
  margin-top: 2rem;
}
